<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding background">
  <ion-card class="card1">
    <img  src="../../../assets/img4.1.png" />
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text-color-card">
     Ubicacion: Jurisdiccion Sanitaria IV
     Av. Gral. Ignacio Zaragoza 200 Centro
     C.P. 93600 Martinez de la torre, Veracruz
     Teléfono: (232) 324-0378
    </ion-card-content>
  </ion-card>

<!--mapa-->
  <ion-card class="card1">

  </ion-card>

  <ion-card class="card1">
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text-color-card">
      Numero de contacto: 229 108 9021
      Correo: consulta@sesver.com.mx
      <br>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>


    </ion-card-content>
  </ion-card>

</ion-content>
